* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #333;
    display: flex;
    justify-content: center;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 50px;
}

header img {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 1 20 100px #9d9d9d1a;
}

header div {
    text-align: center;
}

.container {
    display: flex;
    max-width: 900px;
    background-color: #fffbf6;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    gap: 20px;
}

.left-column, .right-column {
    flex: 1;
    margin-bottom: 100px;
}

header h1 {
    font-size: 2rem;
    margin-bottom: 5px;
}

header h2 {
    font-size: 1.2rem;
    color: #666;
    font-weight: normal;
}


section {
    margin-bottom: 20px;
}

h3 {
    font-size: 1.2rem;
    color: #444;
    margin-bottom: 10px;
    border-bottom: 2px solid #ddd;
    padding-bottom: 5px;
}

ul {
    list-style: none;
}

ul li {
    margin-bottom: 10px;
    font-size: 1rem;
}

a {
    color: #0077b9;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

.progress-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

progress {
    flex: 1;
    -webkit-appearance: none;
    appearance: none;
    height: 8px;
    border-radius: 4px;
    overflow: hidden;
}

progress::-webkit-progress-bar {
    background-color:#e2e3e1;
    border-radius: 800px;
}

progress::-webkit-progress-value {
    background-color: #616e62;
}

li span {
    font-weight: bold;
    color: #555;
    margin-left: 0px;
}

.dots-container {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.dots span {
    font-size: 1.2rem;
    color: #3e4042;
    margin-bottom: 5px;
}

.dots {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.levels {
display: flex;
justify-content: center;
gap: 15px;
margin-top: 5px;
}

.levels span {
    color: #555;
    font-size: 1rem;
    text-align: center;
}

div {
    margin-bottom: 20px;
}

div p {
    margin-bottom: 5px;
}

strong {
    color: #111111;
    font-weight: bold;
}

section p {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #555
}



/*
@media screen and (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;
    }
    
    header img {
        width: 150px;
        height: 150px;
    }

    section h3 {
        font-size: 1.5rem;
    }

    li {
        font-size: 1rem;
    }
}
*/